@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EAE7DC;
}

.header {
  color: #E85A4F;
  font-family: 'IBM Plex Serif', serif;
  font-size: 40px;
  padding-left: 20%;
  min-height: 110px;
  height: 110px;
  line-height: 110px;
}

.main {
  position: relative;
  min-height: calc(100vh - 110px);
  min-width: 500px;
  background: #EAE7DC;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 8px solid #E85A4F;
  border-bottom: none;
  padding: 10px 10px 0px 10px;

  display: flex;
  flex-flow: row nowrap;  
}

.main--left {
  width: 30%;
  background-color: rgba(255, 0, 0, 0.1);
}

.main--right {
  width: 70%;
  background-color: rgba(0, 0, 255, 0.1);
}

.buttons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  padding: 10px;
}

.button {
  height: 120px;
  width: 23%;
  color: white;
  font-family: 'Open Sans';
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #E98074;
  transition: background-color .3s linear;
  border-bottom: 4px solid #8E8D8A;
}

.button:hover {
  background-color: #E85A4F;
}

.search-container {
  padding: 10px;
}

.search-form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: 2px solid #E85A4F;
  border-radius: 10px;
}

.search-form input {
  flex-grow: 1;
  outline: none;
  padding: 10px;
  background: none;
  color: #8E8D8A;
  border: none;
  font-size: 20px;
}

.search-form i {
  padding-right: 10px;
  color: #8E8D8A;
}